
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page</title>
</head>
<body>
    <h1>Future Value Calculator</h1>
    <p>Customer Name: @ViewBag.Name</p>
    <p>Future Value: @ViewBag.FV.ToString("C2")</p>
</body>
</html>
